@charset "utf-8";
@font-face {
	font-family: 'Barlow black';
	src: url("../fonts/Barlow-Black.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}
@font-face {
	font-family: 'Barlow medium';
	src: url("../fonts/Barlow-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 500;
}
/*################################ GENERAL ################################*/
* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input[type="button"] {
	width: 175px;
	height: 58px;
	font: bold 16px/26px 'Barlow medium';
	border-radius: 8px;
	border: none;
}
input[type="button"]:hover {
	cursor: pointer;
}
h1 {
	padding: 0px;
	font: 900 56px/56px 'Barlow black';
	color: #162542;
}
h2 {
	font: 900 32px/36px 'Barlow black';
	color: #162542;
}
h3 {
	margin: 0px;
	padding: 0px;
	font: 900 24px/28px 'Barlow black';
	color: #162542;
}
.text-medium {
	font: 500 16px/26px 'Barlow medium';
	color: #7B8BAD;
}
.grey-deco {
	width: 135px;
	height: 240px;
	background-color: #E8EFF2;
}
/*################################ HEADER ################################*/
header {
	width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 55px;
}
/*------------ HEADER-TOP ------------*/
#header-top {
	width: inherit;
	height: 58px;
	padding: 0px 165px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}
#header-top > * {
	margin: auto 0px;
}
#top-logo {
	width: 40px;
	height: 40px;
	background: url("../images/shared/logo.svg") center/40px no-repeat;
}
#header-top-button {
	background-color: #E8EFF2;
	color: black;
}
#header-top-button:hover {
	background-color: #162542;
	color: white;
}
/*------------ HEADER-CONTENT ------------*/
#header-content {
	width: inherit;
	height: 480px;
	display: flex;
	flex-direction: row;
	padding-left: 165px;
	margin-top: 83px;
}
#header-content-info {
	width: 445px;
	height: 312px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 57px;
}
#header-content-info > * {
	width: inherit;
}
#header-content-info h1 {
	height: 112px;
	margin: 0px;
	padding: 0px;
}
#header-content-info > p {
	height: 78px;
	margin: 24px 0px 40px;
	padding: 0px;
	font: 500 18px/26px 'Barlow medium';
	color: #7B8BAD;
}
#header-content-info div {
	height: 58px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	font: 500 16px/58px 'Barlow medium';
	color: #7B8BAD;
}
#header-content-button {
	background-color: #F16718;
	color: white;
	margin: 0px 39px 0px 0px;
}
#header-content-button:hover {
	background-color: #FF9B62;
}
#header-content-pic {
	width: 540px;
	height: inherit;
	margin: 0px 30px 0px 125px;
	background: url("../images/desktop/image-keyboard.jpg") right/540px 480px no-repeat;
	border-radius: 20px;
}
#header-content-greyDeco {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
/*################################ MAIN ################################*/
main {
	width: 1440px;
	height: 971px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
/*------------ MAIN DESCRIPTION ------------*/
#main-description {
	width: inherit;
	height: 480px;
	display: flex;
	flex-direction: row;
}
#main-description-images {
	width: 895px;
	height: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
#description-images-greyDeco {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: 240px;
}
#description-images-pic01 {
	width: 255px;
	height: inherit;
	background: url("../images/desktop/image-phone-and-keyboard.jpg") center/255px no-repeat;
	border-radius: 20px;
	margin: 0px 30px;
}
#pic01-mask {
	width: inherit;
	height: inherit;
	background-color: #F16718;
	mix-blend-mode: multiply;
	border-radius: 20px;
}
#description-images-pic02 {
	width: 445px;
	height: inherit;
	background: url("../images/desktop/image-glass-and-keyboard.jpg") center/445px no-repeat;
	border-radius: 20px;
}
#main-description-text {
	width: 255px;
	height: 265px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin: 112px 0px 0px 125px;
}
#main-description-text h2 {
	width: inherit;
	margin: 0px;
}
#main-description-text p {
	width: inherit;
	margin: 27px 0px 0px;
}
/*------------ MAIN FEATURES ------------*/
#main-features {
	width: 1110px;
	height: 323px;
	display: grid;
	grid-template-columns: 255px 255px 255px 255px;
	grid-template-rows: 323px;
	grid-template-areas: "compatible wireless battery rgb-mode";
	grid-gap: 30px;
	margin-top: 168px;
}
.feature {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.feature div {
	width: 65px;
	height: 65px;
	border-radius: 16px;
	background-color: #F16718;
	background-position: center;
	background-repeat: no-repeat;
}
.feature h3 {
	width: 255px;
	height: 56px;
	margin: 48px 0px 0px;
}
.feature p {
	width: 255px;
	height: 130px;
	margin: 24px 0px 0px;
}
#feat-compatible {
	grid-area: compatible;
}
#featPic-compatible {
	background-image: url("../images/shared/icon-compatible.svg");
	background-size: 26px;
}
#feat-wireless {
	grid-area: wireless;
}
#featPic-wireless {
	background-image: url("../images/shared/icon-bluetooth.svg");
	background-size: 19px;
}
#feat-battery {
	grid-area: battery;
}
#featPic-battery {
	background-image: url("../images/shared/icon-battery.svg");
	background-size: 32px
}
#feat-rgb {
	grid-area: rgb-mode;
}
#featPic-rgbMode {
	background-image: url("../images/shared/icon-light.svg");
	background-size: 32px;
}
/*################################ FOOTER ################################*/
footer {
	width: 290px;
	height: 26px;
	align-self: flex-start;
	margin: 128px 0px 30px 605px;
	text-align: center;	
}
footer p {
	margin: auto;
	padding: 0px;
}
/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/
@media (min-width: 768px) and (max-width: 1023px) {
	/*------------ GENERAL ------------*/
	.grey-deco {
		display: none;
	}
	h1 {
		font: 900 48px/48px 'Barlow black';
	}
	/*------------ HEADER ------------*/
	header {
		width: 100vw;
		margin-top: 40px;
	}
	/*------------ HEADER-TOP ------------*/
	#header-top {
		width: 689px;
		padding: 0px;
	}
	/*------------ HEADER-CONTENT ------------*/
	#header-content {
		width: 729px;
		height: 425px;
		padding: 0px;
		margin: 62px 0px 0px 40px;
	}
	#header-content-info {
		width: 339px;
		height: 305px;
		margin-top: 60px;
	}
	#header-content-info h1 {
		height: 96px;
	}
	#header-content-info > p {
		margin: 34px 0px 39px;
		font-size: 16px;
	}
	#header-content-info div {
		justify-content: space-between;
	}
	#header-content-pic {
		width: 320px;
		height: 425px;
		margin: 0px 0px 0px 69px;
		background: url("../images/tablet/image-keyboard.jpg") left/478px 425px no-repeat;
		border-radius: 20px 0px 0px 20px;
	}
	/*------------ MAIN ------------*/
	main {
		width: 100vw;
		height: 1292px;
		margin-top: 40px;
	}
	/*------------ MAIN DESCRIPTION ------------*/
	#main-description {
		width: 689px;
		height: 500px;
		flex-direction: column;
	}
	#main-description-images {
		width: inherit;
		height: 320px;
		align-items: center;
	}
	#description-images-pic01 {
		width: 214px;
		height: 320px;
		background: url("../images/tablet/image-phone-and-keyboard.jpg") center/214px no-repeat;
		margin: 0px 30px 0px 0px;
	}
	#description-images-pic02 {
		width: 445px;
		background: url("../images/tablet/image-glass-and-keyboard.jpg") center/445px no-repeat;
	}
	#main-description-text {
		width: 689px;
		height: 108px;
		flex-direction: row;
		justify-content: space-between;
		margin: 72px 0px 0px 0px;
	}
	#main-description-text h2 {
		width: 255px;
		margin: 0px;
	}
	#main-description-text p {
		width: 398px;
		margin: 0px 0px 0px;
	}
	/*------------ MAIN FEATURES ------------*/
	#main-features {
		width: 631px;
		height: 650px;
		grid-template-columns: 281px 281px;
		grid-template-rows: 289px 289px;
		grid-template-areas: "compatible wireless""battery rgb-mode";
		grid-column-gap: 69px;
		grid-row-gap: 72px;
	}
	.feature h3 {
		margin: 40px 0px 0px;
	}
	.feature p {
		width: 281px;
		height: 104px;
		margin: 24px 0px 0px;
	}
}
/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {
	/*------------------------ GENERAL ------------------------*/
	input[type="button"] {
		width: 151px;
		height: 48px;
	}
	h1 {
		font: 900 48px/48px 'Barlow black';
	}
	.grey-deco {
		display: none;
	}
	/*------------------------ HEADER ------------------------*/
	header {
		width: 100vw;
		margin-top: 23px;
	}
	/*------------ HEADER-TOP ------------*/
	#header-top {
		height: 48px;
		padding: 0px 24px;
	}
	/*------------ HEADER-CONTENT ------------*/
	#header-content {
		width: inherit;
		height: 681px;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin-top: 64px;
	}
	#header-content-info {
		width: 327px;
		height: 286px;
		margin-top: 0px;
	}
	#header-content-info h1 {
		height: 96px;
	}
	#header-content-info > p {
		margin: 32px 0px 32px;
		font-size: 16px;
	}
	#header-content-info div {
		height: 48px;
		justify-content: space-between;
		line-height: 48px;
	}
	#header-content-button {
		margin: 0px;
	}
	#header-content-pic {
		width: 348px;
		height: 331px;
		margin: 64px 0px 0px 24px;
		border-radius: 20px 0px 0px 20px;
		background: url("../images/mobile/image-keyboard.jpg") left/372px 331px no-repeat;
	}
	/*------------ MAIN ------------*/
	main {
		width: 100vw;
		height: 1995px;
		margin-top: 24px;
	}
	/*------------ MAIN DESCRIPTION ------------*/
	#main-description {
		width: inherit;
		height: 504px;
		flex-direction: column;
		align-items: center;
	}
	#main-description-images {
		width: 375px;
		height: 193px;
	}
	#description-images-pic01 {
		width: 107px;
		background: url("../images/mobile/image-phone-and-keyboard.jpg") right/129px no-repeat;
		margin: 0px 24px 0px 0px;
		border-radius: 0px 20px 20px 0px;
	}
	#pic01-mask {
		border-radius: 0px 20px 20px 0px;
	}
	#description-images-pic02 {
		width: 220px;
		background: url("../images/mobile/image-glass-and-keyboard.jpg") center/220px no-repeat;
	}
	#main-description-text {
		width: 327px;
		height: 236px;
		margin: 75px 0px 0px 0px;
		align-items: center;
		text-align: center;
	}
	#main-description-text h2 {
		margin: 0px;
		width: 255px;
	}
	#main-description-text p {
		width: 327px;
		margin: 27px 0px 0px;
	}
	/*------------ MAIN FEATURES ------------*/
	#main-features {
		width: 327px;
		height: 1380px;
		display: grid;
		align-items: center;
		grid-template-columns: 327px;
		grid-template-rows: 297px 297px 297px 297px;
		grid-template-areas: "compatible""wireless""battery""rgb-mode";
		grid-gap: 64px;
		margin-top: 111px;
	}
	.feature {
		align-items: center;
		text-align: center;
	}
	.feature h3 {
		width: 327px;
		height: 56px;
	}
	.feature p {
		width: 327px;
		height: 104px;
		margin: 24px 0px 0px;
	}
	/*------------ FOOTER ------------*/
	footer {
		align-self: center;
		margin: 96px 0px 39px;
	}
}