@charset "utf-8";

@font-face{
	font-family: 'Barlow black';
	src: url("../fonts/Barlow-Black.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}

@font-face{
	font-family: 'Barlow medium';
	src: url("../fonts/Barlow-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 500;
}
/*################################ GENERAL ################################*/
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="button"]{
	width: 155px;
	height: 58px;
	font: bold 16px/26px 'Barlow medium';
	border-radius: 8px;
}
h1{
	font: 900 56px/56px 'Barlow black';
	color: #162542;
}
h2{
	font: 900 32px/36px 'Barlow black';
	color: #162542;
}
h3{
	font: 900 24px/28px 'Barlow black';
	color: #162542;
}
.text-medium{
	font: 500 16px/26px 'Barlow medium';
	color: #7B8BAD;
}
/*################################ HEADER ################################*/

body *{
	border: solid 1px red;
}

header{
	width:1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*------------ HEADER-TOP ------------*/
#header-top{
	width: inherit;
	height: 58px;
	padding:0px 165px;
	display: flex;
	align-content: center;
	justify-content:space-between;
}
#header-top > *{
	margin:auto 0px;
}
#top-logo{
	width: 40px;
	height: 40px;
	background: url("../images/shared/logo.svg") center/40px no-repeat;
}
#header-top-button{
	background-color: #E8EFF2;
	color: black;
}
/*------------ HEADER-CONTENT ------------*/
#header-content{
	width: inherit;
	height: 480px;
	display: flex;
	flex-direction: row;
	padding-left: 165px;
	margin-top: 83px;
}

#header-content-info{
	width: 445px;
	height: 312px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 57px;
}

#header-content-info > *{
	width: inherit;
}
#header-content-info h1{
	height: 112px;
	margin: 0px;
}

#header-content-info > p{
	height: 78px;
	margin: 24px 0px 40px;
	font: 500 18px/26px 'Barlow medium';
	color: #7B8BAD;
}

#header-content-info div{
	height: 58px;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	line-height: 58px;
}
#header-content-button{
	background-color: #F16718;
	color: white;
	margin: 0px 39px 0px 0px;
}
#header-content-pic{
	width: 540px;
	height: inherit;
	margin: 0px 30px 0px 125px;
	background: url("../images/desktop/image-keyboard.jpg") right/540px 480px no-repeat;
	border-radius: 20px;
}
#header-content-greyDeco{
	width: 135px;
	height: 210px;
	background-color: #E8EFF2;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
/*################################ MAIN ################################*/

main{
	width: 1440px;
	height: 971px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}
#main-description{
	width: inherit;
	height: 480px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#description-greyDeco{
	width: 170px;
	height: 210px;
	margin-top: 270px;
}

#description-pic01{
	width: 255px;
	height: inherit;
}

#description-pic02{
	width: 445px;
	height: inherit;
}
#description-text{
	width: 480px;
	height: inherit;
	padding: 112px 0px 0px 60px;
}
#description-text > *{
	width: 255px;
}
#description-text h2{
	margin:0px;
}
#description-text p{
	margin: 27px 0px 0px;
}
#main-features{
	width: 1110px;
	height: 323px;
	display:grid;
	grid-template-columns: 255px 255px 255px 255px;
	grid-template-rows: 323px;
	grid-template-areas: "compatible wireless battery rgb-mode";
	grid-gap: 30px;
}
.feature{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.feature div{
	width: 65px;
	height: 65px;
}
.feature h3{
	width: 255px;
	height: 56px;
	margin:48px 0px 0px;
}
.feature p{
	width: 255px;
	height: 130px;
	margin: 24px 0px 0px;
}
#featPic-compatible{
	grid-area: compatible;
}
#feat-wireless{
	grid-area: wireless;
}
#feat-battery{
	grid-area:battery;
}
#feat-rgb{
	grid-area: rgb-mode;
}
/*################################ FOOTER ################################*/
footer{
	width: 272px;
	height: 26px;
	margin: 128px 0px 39px;
}
footer p{
	margin: auto;
	padding: 0px;
}
/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/

@media (min-width: 768px) and (max-width: 1023px) {}
	/*------------------------ HEADER ------------------------*/
/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {}